<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSource" value="localhost"/>
    <add key="User" value="SYSDBA"/>
    <add key="Password" value="masterkey"/>
    <add key="Database" value="C:\Users\Gleisio\Documents\C#\RaroDoSer_ContasAReceber\ProjetoContasAReceberRaro\ProjetoContasAReceberRaro\BD\RARO.FDB"/>
    <add key="Port" value="3050"/>
  </appSettings>
  
 <connectionStrings>
   <add name ="ConexaoFirebird" connectionString="DataSource=;User=;Password=;Database=;Port=;" providerName="FirebirdSql.Data.FirebirdClient"/>
     
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>